@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  background-color: #f8fafc;
  color: #0f172a;
}

.leaflet-container {
  height: 100% !important;
  width: 100% !important;
  background: #f1f5f9 !important;
}
